div {
  padding: 3px;
  margin: 2px;
  background-color: mistyrose;
}

table {
  border: 1px solid;
  text-align: center;
  margin: 5px;
  border-collapse: collapse;
}

th {
  width: 200px;
  border-bottom: 1px solid;
}
